@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  font-size: 22px;
}

/* 
  lighter dark #384157
  dark #293040
  darker #202632
  primary #D5B263
  accent #C9AD8B

  optional #eae935
  dark optional #759AAB
*/